body{
    background-color: chocolate;
}


/* 三个div都是相对整个页面absolute的
每个div内的小lable是relative的
*/

.header-text {
    /* display:flex; */
    justify-content:center;
    position: absolute;
    top: 200px;
    left: 30%;
}

.input-text {
    position: absolute;
    top: 400px;
    left: 45%;
}

.input-input {
    height: 40px;
    width: 400px;
    position: relative;
    right: 40%;
}

.input-button {
    height: 40px;
    width: 40px;
    position: relative;
    right: 30%;
}

.list {
    justify-content:center;
    position: absolute;
    top: 500px;
    left: 40%;
}